.button-week {
  display: flex;
  justify-content: space-between;
  max-width: 1520px;
  margin: 2rem auto 1rem auto;
  &-previousWeek {
    background: transparent;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
  }
  &-currentWeek {
    background: transparent;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
  }
  &-nextWeek {
    background: transparent;
    color: #fff;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
  }

}

.container-week {
  background: #1d83db;
  border-radius: 30px;
  width: 289px;
  text-align: center;
  &-student{
        background: rgb(65, 136, 15);
        border-radius: 30px;
        width: 289px;
        text-align: center;
  }
}

@media screen and (max-width: 770px)  {

  .button-week {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-week {
    margin: 1rem auto;
  }
}

/*------------------------------------

            KEYFRAMES
  -------------------------------------*/

.heartbeat-one,
.heartbeat-two,
.heartbeat-three {
	-webkit-animation: heartbeat 10s steps(2, end) 1s infinite both;
	        animation: heartbeat 10s steps(2, end) 1s infinite both;
}

.heartbeat-two {
  animation-delay: 4s;

}

.heartbeat-three {
  animation-delay: 8s;
}


@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  1% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  2% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  3% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  4% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
   50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
   60% {
   -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
   70% {
     -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
   80% {
     -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
   90% {
     -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
   100% {
     -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  2% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  4% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  8% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  10% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
   50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
   60% {
   -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
   70% {
     -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
   80% {
     -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
   90% {
     -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
   100% {
     -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
