.acces-class{
  vertical-align: baseline;
  margin: auto;
 
  &-title {
    color: #3f9ef1;
    font-size: 2.5rem;
    line-height: 15rem;
    margin-left: 150px;
 
  }
}
// animation for acces button class
.fade-in-fwd {
	-webkit-animation: fade-in-fwd 0.8s ;
	        animation: fade-in-fwd 0.8s ;
}

 @-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
