.label-form {
  margin: 0.5rem auto;
}

.label-text {
  font-weight: bold;
  font-size: 1rem;
  font-family: Ubuntu;
  color: #8A8989;
}

.select-style {
  color: #8A8989;
  padding: 0.1rem  1.5rem;
  border: 2px solid #5FB3F6;
  border-radius: 30px;
  color: #727272;
  font-weight: bold;
  font-size: 1rem;
  background: transparent;
  margin-left: 0.5rem;
  outline: none;
}

.option-style {
  color: #8A8989;
}

